* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #ffffff;
    --font1: Verdana;
}
    
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

header {
    background: linear-gradient(90.05deg, #000000 24.85%, #006384 64.76%, #002F45 99.45%), #006384;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-family: var(--font1);
}

.botao-nav {
    display: flex;
    justify-content: space-between;
    color: var(--branco);
    align-items: center;
    padding: 30px;
}

.botao-voltar svg {
    fill: var(--branco);
    text-decoration: none;
    height: 40px;
}

.botao-fechar svg {
    fill: var(--branco);
    text-decoration: none;
    height: 40px;
}

/*BANNER*/

.banner {
    background-image: url(../img/background.png);
    height: 944px;
    background-size: cover;
    justify-items: center;
    display: flex;
}

.posiciomaneto-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.posiciomaneto-menu img {
    width: 100px;

}
.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.menu-lateral a {
    font-size: 30px;
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font1);
    padding: 30px;
    font-size: 30PX;
}

hr {
    width: 150px;
    height: 3px;
    background-color: var(--branco);
}


/* SECAO FORMULARIO*/

.section__formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 350px);
}
.formulario-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 700px;
}
.div__alinhamento_campos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    color: var(--branco);
}  

.div__alinhamento_campos input {
        margin-top: 11px;
        margin-bottom: 28px;
        background: rgba(255, 255, 255, 0.11);
        backdrop-filter: blur(4px);
        border-radius: 5px;
        width: 100%;
        height: 35px;
        color: var(--branco);
}
.div__alinhamento_funcao_data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px; 
    color: var(--branco); 
    font-size: 20px;
}

.div__alinhamento_funcao_data .div__alinhamento__funcao{
    display: flex;
    flex-direction: column;   
    width: 40%;

}
.div__alinhamento_funcao_data .div__alinhamento__funcao select{
    color: var(--branco); 
    font-size: 15px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 28px;
    height: 35px;    
}
.div__alinhamento_funcao_data .div__alinhamento__funcao option{
    color: #000000; 
    font-size: 15px;
}

.div__alinhamento_funcao_data .div__alinhamento__data{
    display: flex;
    flex-direction: column;
    width: 40%;  
}
.div__alinhamento_funcao_data .div__alinhamento__data input{
    background-color: #006384; 
    color: var(--branco); 
    font-size: 15px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 28px;
    height: 35px; 
}
.botao_cadastrar{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;  
}

/*Respansividade*/

@media screen and (max-width: 768px) {
    h1{
        font-size: 25px;
    }
    .botao-voltar svg {
        height: 25px;
    }
    .botao-fechar svg {
        height: 25px;
    }
    .posiciomaneto-menu {
    width: auto;
    }
    .menu-lateral a {
        font-size: 15px;
        padding: 18px;
    }
    .menu_barras{
        display: initial;
        
    }
    .menu_barras svg{
        height: 50px;
        fill: var(--branco);
    }
    .menu-lateral-logo{
        display: none;
    }
    .menu-lateral{
        display: none;
        position: absolute;    
        background: rgba(44, 43, 43, 0.11);
        backdrop-filter: blur(20px);
        flex-direction: column;
        z-index: 1;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        left: 50px;  
        top: 100px; 
    }
    .menu-lateral img {
        width: 70px;
    }
    .menu_barras{
        position: absolute;
        left: 10px;
        top: 20px;    
    }
    hr {
        width: 60px;
        height: 2px;
        background-color: var(--branco);
    }
    .botao-voltar svg {
        display: none;
    }
    .formulario-central{
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .section__formulario{
        width: 100%;
    }
    .div__alinhamento_funcao_data{
        display: flex;
        flex-direction: column;
    }
    .div__alinhamento_funcao_data .div__alinhamento__funcao {
        max-width: 477px;
        width: 100%;
    }
    .div__alinhamento_funcao_data .div__alinhamento__data{
        max-width: 477px;
        width: 100%;
    }

}